body {
  background-image: url(../img/punti-interrogativi-variopinti-22561817.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
